//header
.header
	height: 37px
	padding: 15px 20px 10px
	.header__logo
		@extend %hide-text
		+s(logo)

	//settings
	.settings
		float: right
		margin-top: -5px
		margin-right: 50px
		a
			display: inline-block
			+s(settings)
	//language
	.language
		position: relative
		top: -2px
		float: right
		margin-right: 14px
		a
			float: left
			padding: 4px
			margin-right: 6px
			i
				float: left
			&.is-active
				background: #7873B6
		.language__ru
			i
				+s(lang_ru)
		.language__en
			i
				+s(lang_en)
	//user
	.user
		float: right
		.user__name
			font-weight: bold
			color: #000
			font-size: 12px
			margin-right: 13px
			vertical-align: middle
			display: inline-block
		.user__signout
			display: inline-block

//navbar
.navbar
	margin-bottom: 30px
	.container
		width: 1099px
	.navbar-inner
		padding: 0 20px
		border: 1px solid #cfccec
		border-width: 1px 0
		+border-radius(0)
		@include box-shadow(0 0 2px rgba(1,2,2,.15))
		@include background-image(linear-gradient(bottom, #e5e3f4 0%, #fefefe 100%))
	.nav
		margin: 0
		font-family: "Verdana"
		font-size: 12px
		font-weight: bold
		li
			position: relative
			&:hover
				.navbar__drop
					display: block
			a
				padding: 0
				margin-right: 43px
				height: 59px
				line-height: 59px
				color: #453e8e
				&:hover
					color: #000
		.navbar__drop
			display: none
			box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8)
			background: white
			+border-radius(0 0 20px 20px)
			position: absolute
			left: -5px
			top: 60px
			width: 200px
			padding: 13px 20px
			z-index: 1001
			ul
				margin-left: 0
			li
				margin-bottom: 6px
				line-height: 1.2
			a
				height: auto
				line-height: 1.2
				font-size: 12px
				font-weight: normal

























