// *{
// 	box-shadow: 0 0 1px red;
// }

.manage{
	margin-bottom: 50px;
}
.manage__btn{
	margin: 30px 0 0;
	text-align: right;
	.btn{
		margin-left: 10px;
	}
}
.manage__table{
	@extend %b;
	padding: 0;
	.table{
		margin-bottom: 0;
		th,td{
			text-align: center;
		}
		th{
			border-bottom: 1px solid #a1a1a1;
			@include text-shadow(0 1px 0 rgba(255,255,255,.75));
		}
		td{
			text-align: center;
			height: 20px;
		}
	}
	thead{
		background-color: #e3e3e3;
	}
	.manage__checkbox{
		display: inline-block;
	}
}
// .manage__table_mod{
// 	@extend %b;
// 	padding: 0;
// 	.table{
// 		margin: 0;
// 		th,td{
// 			text-align: center;
// 		}
// 	}
// }
.manage__filter{
	margin-bottom: 15px;
	.manage__btn{
		margin-top: 10px;
	}
	input{
		margin-bottom: 0;
	}
	.field{
		margin-bottom: 0;
	}
}

.manage__results{
	.manage__table{
		margin-bottom: 15px;
		.table{
			table-layout: fixed;
			td{
				vertical-align: middle;
			}
		}
		&.manage__table_mod{
			@include box-shadow(0 0 0 rgba(0, 0, 0, .0));
			border: 0;
			th{
				background-color: #fff;
				border: 0;
				padding: 0;
			}
			td{
				border: 0;
			}
			.manage__btn{
				margin-top: 5px;
			}
		}
	}
	label{
		font-size: 12px;
		display: inline-block;
		margin-bottom: 0;
	}
	.manage__search-input{
		width: 150px;
	}
}
.manage__search-delete{
	i{
		display: inline-block;
		@include s(del3);
		&:hover{
			cursor: pointer;
		}
	}
}
.manage__search-history{
	i{
		display: inline-block;
		@include s(history);
		&:hover{
			cursor: pointer;
		}
	}
}





